<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Details</title>
    <link rel="stylesheet" href="/style.css">
    <script>
        function deleteUser() {
            if (confirm('Are you sure you want to delete this user?')) {
                fetch(`/users/<%= user.UserID %>/delete`, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        console.log(data.message); // Optional: Log success message
                        window.location.href = '/logout'; // Redirect to users list after deletion
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        // Handle error scenario if needed
                    });
            }
        }
    </script>
</head>
<body>
<div class="topnav">
    <a href="/">Home</a>
    <a href="/users">Users</a>
    <a href="/chat">Chat</a>
    <a href="/logout" style="float: right">Logout</a>
</div>
<br>
<div class="card">
    <h1>User Details</h1>
    <p><strong>Username:</strong> <%= user.Username %></p>
    <p><strong>Role:</strong> <%= user.Role %></p>
    <div>
        <div class="loadout">
            <h2>Loadout</h2>
            <div><strong>Weapon 1:</strong> <%= user.Weapon1 %></div>
            <div><strong>Weapon 2:</strong> <%= user.Weapon2 %></div>
            <div><strong>Armor:</strong> <%= user.Armor %></div>
        </div>


    </div>
    <div>
        <a class="button-28" href="/users/<%= user.UserID %>/edit">Edit User</a>
    </div>
    <form id="deleteForm">
        <button class="button-28" type="button" onclick="deleteUser()">Delete User</button>
    </form>
</div>
</body>
</html>