<!DOCTYPE html>
<html lang="en">
    <head>
        <title>All Users Page</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="topnav">
            <a href="/">Home</a>
            <a class="active" href="/users">Users</a>
            <a href="/cookies">Cookies</a>
            <a href="/movies">Movies</a>
        </div>
        <br>
        <div class="card">
            <h1>This is our users page</h1>
            <a> <%= users[0].name %> <%= users[0].surname %></a>
            <p> <%= users[0].hero %></p>
            <p> <%= users[1].email %></p>
            <p> <%= users[1].info %></p>


        </div>
        <br>
    </body>
</html>