<!DOCTYPE html>
<html lang="en">
<head>
    <title>All Users</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="topnav">
    <a href="/">Home</a>
    <a class="active" href="/users">Users</a>
    <a href="/chat">Chat</a>
    <a href="/logout" style="float: right">Logout</a>
</div>
<br>
<div class="card">
    <h1>All Users</h1>
    <% users.forEach(user => { %>
        <div class="user-card">
            <div class="user-details">
                <p><strong>Username:</strong> <a href="/users/<%= user.UserID %>"><%= user.Username %></a></p>
                <p><strong>Role:</strong> <%= user.Role %></p>
            </div>
            <div class="user-loadout">
                <div><strong>Weapon 1:</strong> <%= user.Weapon1 %></div>
                <div><strong>Weapon 2:</strong> <%= user.Weapon2 %></div>
                <div><strong>Armor:</strong> <%= user.Armor %></div>
            </div>
        </div>
    <% }); %>
</div>
<br>
</body>
</html>