<!DOCTYPE html>
<html lang="en">
    <head>
        <title>User Page</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1>Displays a user's page</h1>
        <div class="card">
            <h1><%=user.name%></h1>
            <ul>
                <li> Id: <%=user.id%></li>
                <li>Hero: <%= user.hero %></li>
                <li>Email: <%=user.email%></li>
                <li>Info: <%=user.info%></li>
            </ul>
        </div>

    </body>
</html>