<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Details</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="topnav">
    <a href="/">Home</a>
    <a href="/users">Users</a>
    <a href="/chat">Chat</a>
</div>
<br>
<div class="card">
    <h1>User Details</h1>
    <p><strong>Username:</strong> <%= user.Username %></p>
    <p><strong>Role:</strong> <%= user.Role %></p>
    <div>
        <div class="loadout">
            <h2>Loadout</h2>
            <div><strong>Weapon 1:</strong> <%= user.Weapon1 %></div><br>
            <div><strong>Weapon 2:</strong> <%= user.Weapon2 %></div><br>
            <div><strong>Armor:</strong> <%= user.Armor %></div><br>
        </div>
    </div>
    <div>
        <a class="button-28" href="/users/<%= user.UserID %>/edit">Edit User</a>
    </div>
</div>
</body>
</html>
